# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Arquivos de compilação Python
*.pyc
__pycache__/

# Arquivos de ambiente virtual
venv/
env/
.venv/
.env/

# Arquivos de configuração local
*.sqlite3
*.pyc
*.pyo
*.pyd

# Arquivos gerados pela IDE ou editor de código
.idea/
.vscode/

# Arquivos de log e cache
*.log
logs/
*.cache
.cache/

# Arquivos de configuração específicos de sistema operacional
.DS_Store
Thumbs.db